body {
  background-image: url("/img/book.jpg");
  font-family: raleway;
  margin: auto;
}

header {
  width: 95%;
  height: 10vh;
  background-color: #003049;
  font-size: 2vw;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom: 30px;
  padding-left: 120px;
  font-family: 'Montserrat', sans-serif;
  color:white;
}


#logo{
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-left:30px;
}

#newUser {
  background-color: #003049;
  color: white;
  display:flex;
  justify-content: center;
  margin-top: 10vw;
  list-style: none;
}

#enterStyle {display: flex;
  justify-content: center;

}

#prof {display:flex;
  flex-direction:row;
justify-content: center;
font-size: 2vw;


  
}

.button {display: flex;
  justify-content: center;
}

button {
  margin-top:1vw;
  background-color: #b7b9ba;
  border-radius: 20px;
  border-style: none;
  margin-bottom: 1vw;



}
h2  {display:flex;
  justify-content: center;
  font-size: 3vw;
  margin-top: 5vw;
  margin-bottom: 4vw;

}

#genre {display:flex;
  justify-content: center;

 
}

.genreicon {margin-left: 8vw;
  margin-right: 8vw;
  border-style: none;
  border-radius: 150px;
}


/* index page added css */

#canvas-section, #table-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#canvas-div {
  display: flex;
  align-items: center;
  justify-content: column;
  background-color: darkgray;
  width: 60%;
}

.table-h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5vw;
  margin-top: 20px;
}

/* added table-section and td styling */
#table-section {
  width: 70%;
  padding: 50px;
  margin: auto;
}

td {
  width: 20%;
}

.table-div {
  width: 50%;
  background-color: darkgray;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}


.img-container {
  display: flex;
  justify-content: center;
}







a {
  text-decoration: none;
  padding-right: 50px;
  color:white;
  margin-right: 25px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  bottom: 0px;
  width: 100%;
  margin-top: 350px;
  padding: 20px;
  background-color: #003049;

}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ad719a;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#authors {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#subscribe-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 50px;
  margin-left: 10px;
}

#filler-text {
  padding-right: 10px;
}

.bioName {
display: flex;
align-items: center;
justify-content: center;
}

.bioDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imgDiv {
  display: flex;
  align-items: center;
  flex-direction: row;
}